name: Continuous Deployment (dev) (Backend)

on: 
    push:
        branches:
            - main

jobs:
    backend:
        runs-on: ubuntu-latest
        steps: 
            - name: checkout the repository
              uses: actions/checkout@v2

            - name: login to docker
              uses: docker/login-action@v2
              with:
                username: ${{secrets.DOCKERHUB_USERNAME}}
                password: ${{secrets.DOCKERHUB_TOKEN}}

            - name: Build and push
              uses: docker/build-push-action@v4
              with: 
                context: .
                file: ./docker/http.Dockerfile
                push: true
                tags: malakh000/http-backend:${{github.sha}}