name: Continuous Deployment (dev) (Backend)

on: 
    push:
        branches:
            - main

jobs:
    backend:
        runs-on: ubuntu-latest
        steps: 
            - name: checkout the repository
              uses: actions/checkout@v2

            - name: login to docker
              uses: docker/login-action@v2
              with:
                username: ${{secrets.DOCKERHUB_USERNAME}}
                password: ${{secrets.DOCKERHUB_TOKEN}}

            - name: Build and push
              uses: docker/build-push-action@v4
              with: 
                context: .
                file: ./docker/http.Dockerfile
                push: true
                tags: malakh000/http-backend:${{github.sha}}

            - name: Deploy to remote server
              run: |
                 echo "${{ secrets.SSH_PRIVATE_KEY }}" &> ~/ssh_key.pem
                 chmod 700 ~/ssh_key.pem
                 ssh -o StrictHostKeyChecking=no -i ~/ssh_key.pem ubuntu@65.1.248.46 -t "sudo docker stop user_backend || true && sudo docker rm user_backend || true  && sudo docker run --name user_backend -e "DATABASE_URL=${{secrets.DATABASE_URL}}" -d -p 8080:8080 malakh000/http-backend:${{ github.sha }}"

