name: Continuous Deployment (dev) (Backend)

on: 
    push:
        branches:
            - main

jobs:
    backend:
        runs-on: ubuntu-latest
        steps: 
            - name: checkout the repository
              uses: actions/checkout@v2

            - name: login to docker
              uses: docker/login-action@v2
              with:
                username: ${{secrets.DOCKERHUB_USERNAM}}
                password: ${{secrets.DOCKERHUB_TOKEN}}